<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav mode="side" opened="false">

    <h2>Getting Around</h2>

    <md-list>
      <md-list-item>
        <a routerLink="/pet-finder" routerLinkActive="active">Pet Finder</a>
      </md-list-item>
      <md-list-item>
        <a routerLink="/app-map" routerLinkActive="active">Map</a>
      </md-list-item>


    </md-list>


  </md-sidenav>
  <button md-mini-fab (click)="sidenav.toggle()">Open</button>

  <p>All the cool stuff goes in here</p>

  <router-outlet></router-outlet>

</md-sidenav-container>