<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav mode="side" opened="false">

    <h2>Getting Around</h2>

    <md-list>
      <md-list-item>
        <a routerLink="/pet-finder" routerLinkActive="active">Pet Finder</a>
      </md-list-item>
      <md-list-item>
        <a routerLink="/app-map" routerLinkActive="active">Map</a>
      </md-list-item>


    </md-list>


  </md-sidenav>
  <md-icon (click)="sidenav.toggle()">more horiz</md-icon>

  <!-- Chapter area remains static for now -->
<app-header></app-header>

<!-- router outlet displays different views from sidenav -->
  <router-outlet></router-outlet>

</md-sidenav-container>